.imageContainer{
    box-shadow: 0 0 10px #93dd02, inset 0 0 10px #93dd02;
    border-radius: 50%;
    border: 1px solid #eaeaea;
    padding: 12px;
    max-width: 24rem;
    display: inline-block;
    text-align: center;
    color: inherit;
    background-color: #8ffa795c;
}

.name_item{
    font-size: max(min(26px, 4vw), 32px) !important;
    color: #fff;
    text-shadow: 0 0 3px #000, 2px 2px 10px #1ac904, -2px -2px 10px #009422;
    margin-bottom: 0.2em;
    margin-top: 5px;
    font-weight: 700;
    padding: 10px;
    text-align: center;
}

.card_focus {
    margin: 1rem;
    flex-basis: 50%;
    padding: 1.1rem;
    text-align: center;
    color: #009422;
    text-decoration: none;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    transition:
      color 0.15s ease,
      border-color 0.15s ease;
    box-shadow: 0 0 10px #93dd02, inset 0 0 10px #93dd02;
    background-color: #54831754;
    /* display: flex; */
    /* width: 100%; */
  }
  
  .card:hover,
  .card:focus,
  .card:active {
    color: #009422;
    background-color: #54831754;
    /* border-color: #009422; */
  }